:root{
    --body: #0A0C1C;
    --background:  #1B1937;
    --letter: #FFF;
    --special: rgb(171, 92, 219);
    --font: 'Inter', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #0A0C1C;
    color: #FFF;
    font-family: var(--font);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    padding: 15px 0;
    font-size: 12px;
    opacity: 0.75;
}
span{
    color: var(--special);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-box{
    width: 40vw;
    height: 70vh;
    background-color: var(--background);
}
.img{
    background-image: url(../images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 40vw;
    height: 70vh;
}
.text-1{
    margin: 10% 15%;
}
.font-size{
    font-size: 15px;
}
.text-2{
    display: flex;
    justify-content: space-between;

}
h1{
    font-size: 36px;
}
h2{
    font-size: 24px;
}


@media (min-width: 1000px){
    body{
        height: 100vh;
    }
    .text-2{
        align-items: flex-end;
        margin: 0 15% 20% 15%;
    }
    .img{
        background-image: url(../images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 40vw;
        height: 9vh
    }
    .card-box{
        width: 40vw;
        height: 70vh;
        background-color: var(--background);
    }
    .filter {
        background-color: rgba(171, 92, 219, 0.5);
        width: 40vw;
        height: 70vh;
        position: absolute;
        top: 1;
        right: 10%;
    }
}
@media (max-width: 1000px){
    body{
        flex-direction: column-reverse;
    }
    h1{
        font-size: 28px;
    }
    .text-1{
        text-align: center;
    }
    .text-2{
        text-align: center;
        flex-direction: column;
        background-color: var(--background);
    }
    .img{
        background-image: url(../images/image-header-mobile.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 60vw;
        height: 40vh;
    }
    .card-box{
        width: 60vw;
    }
    .margin-top{
        margin: 98px 0 0 0;
    }
    .margin-bot{
        margin: 0 0 98px 0;
    }
    .filter {
        background-color: rgba(171, 92, 219, 0.5);
        width: 60vw;
        height: 40vh;
        position: absolute;
        top: 14%;
        right: 1;
    }
}

@media (max-width: 600px){
    .img{
        width: 60vw;
        height: 40vh;
    }
    .card-box{
        width: 80vw;
    }
    .filter {
        width: 80vw;
    }
}

